<h1>Tacos!</h1>

<p>I love tacos</p>

<%
  fillings = ["Carnitas", "Al Pastor", "Chicken", "Pescado"]
%>

<p>We have <%= fillings.count %> tacos:</p>

<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ul>
